{% extends 'usuarios/base.html' %}
{% block title %}{{ entidade_nome }}{% endblock %}
{% block content %}
    <h1>{% if object %}Editar{% else %}Novo{% endif %} {{ entidade_nome }}</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="acoes">
            <button class="btn" type="submit">Salvar</button>
            <a class="btn btn-secundario" href="{% url url_namespace|add:'-list' %}">Cancelar</a>
        </div>
    </form>
{% endblock %}
